*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.street{
    position: relative;
  
}
.road{
    width: 100%;
}

.car{
    width: 20%;
    position: absolute;
    right: 0;
    bottom: 30%;
    animation: move 3s linear  infinite;

}
@keyframes move{
from{
    transform: translateX(0);
}
to{
    transform: translateX(-1200px);
}
}

