*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

.name{
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  width: fit-content;
}


.mar,.mas,.may{
  position: relative;
}

.mar::before{
content: "";
width: 6px;
height: 6px;
border-radius: 50%;
background-color: blue;
position: absolute;
right: 3px;
top: -1px;
}
.may::before{
content: "";
width: 6px;
height: 6px;
border-radius: 50%;
background-color: red;
position: absolute;
right: 3px;
top: -1px;
}
.mas::before{
content: "";
width: 6px;
height: 6px;
border-radius: 50%;
background-color: green;
position: absolute;
right: 3px;
top: -1px;
}


.hero{
  background-color: rgb(207, 244, 252);
  padding: 40px;
  text-align: center;
}


.border-start li {
  position: relative;
}

.border-start li::before {
  content: "";
  position: absolute;
  left: -22px; 
  top: 5px;
  width: 12px;
  height: 12px;
  background-color: #00a2ff; 
  border-radius: 50%;
 
  border: 2px solid #007bff; 
}


.timeline{
  border: 1px solid #141414; 
  width: 50%;
}


.star-rating {
  direction: rtl;
  display: inline-flex;
  cursor: pointer;
}
.star-rating span {
  font-size: 22px;
  color: #ccc;
  transition: color 0.2s;
}
.star-rating span:hover,
.star-rating span:hover ~ span {
  color: gold;
}
.star-rating span.active,
.star-rating span.active ~ span {
  color: gold;
}